main {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

/* PROFILE INFORMATION */

#prof-sec {
    background-color: rgb(78, 84, 111);
    min-height: 100vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

#prof-img {
    height: 230px;
    width: 230px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.dis {
    display: none;
}

.appear {
    background-color: rgba(0, 0, 0, 0.2);
    height: 230px;
    width: 230px;
    display: block;
    position: absolute;
    top: 60px;
    right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prof-info {
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 28px;
}

#names-div {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#prof-email {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: break-word
}

#edit-names-div {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#edit-names-div > input {
    width: 80px;
}

/* USER CARDS */

#have-want {
    height: auto;
    min-width: 75%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#have {
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
}

#have > div {
    height: 350px;
}

.pc-card {
    background-color: white;
    width: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 18px;
    position: relative;
}
.pc-card:hover {
    box-shadow: 5px 5px 10px rgb(60, 60, 60);
}

.pc-card > button {
    display: none;
}
.pc-card:hover > button {
    display: block;
}

.sup-bro {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.pc-img {
    max-height: 350px;
    width: 250px;
    border-radius: 10px;
}

.title-info {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-house {
    background-color: white;
    height: 30px;
    width: 30px;
    border: none;
}
.keep {
    background-color: transparent;
    height: 30px;
    width: 30px;
    border: none;
}

.edit-icon {
    height: 25px;
    width: 25px;
}

.pc-card > div {
    width: 250px;
}

span {
    display: flex;
    align-items: center;
    font-weight: 200;
}

.inp-small {
    width: 80px;
}

.inp-big {
    width: 200px;
}

.span-ta {
    margin-bottom: 5px;
}

.uses {
    width: 200px;
    margin-left: 5px;
}

.nums {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.scooch {
    margin: 5px;
}

/* WANTED CARDS */

#want {
    min-height: 250px;
    display: flex;
    flex-wrap: wrap;
}

#want > div {
    height: 280px;
}

.want-notes {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* SPECIFICITY */

.pro-btn {
    background-color: rgb(78, 84, 111);
}